*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.title{
    color: #e53170;
    font-weight: 700;
    font-size: 46px;
}

.paragraph{
    font-size: 20px;
    font-weight: 500;
}