*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.title{
    color: #e53170;
    font-weight: 700;
    font-size: 46px;
}

.paragraph{
    font-size: 20px;
    font-weight: 500;
}

.card-section{
    margin: 70px 0;
}

.card-container{
    display: flex;
    gap: 20px;
    background-color: #000000;
    color: #ffffff;
    width: 30%;
}

ul{
    list-style: none;
    padding: 0;
    align-self: center;
}

img{
    width: 125px;
}

.card-name{
    font-size: 32px;
    font-weight: 600;
}

.card-email{
    text-decoration: none;
}