*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.title{
    color: #e53170;
    font-weight: 700;
    font-size: 46px;
}

.paragraph{
    font-size: 20px;
    font-weight: 500;
}

.card-section{
    margin: 70px 0;
}

.card-container{
    display: flex;
    gap: 20px;
    background-color: #000000;
    color: #ffffff;
    min-width: 310px;
    width: 365px;
    padding: 0;
    height: 125px;
}

ul{
    list-style: none;
    padding: 0;
    align-self: center;
}

img{
    width: 125px;
    height: 125px;
}

.card-name{
    font-size: 32px;
    font-weight: 600;
}

.card-email{
    text-decoration: none;
}

.input{
    min-width: 183px;
}

.add-new-member-section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.549);
    width: 35%;
    min-width:223px;
    margin: 10px auto;
    padding: 40px 20px;
    border-radius: 20px;
}